<?xml version="1.0" encoding="utf-8"?>
<package xmlns="http://exist-db.org/ns/expath-pkg">
    <jar>@project.app.jar@</jar>
    <jar>@project.lib.jar@</jar>
    <java>
        <namespace>http://exist-db.org/xquery/ocular-ocr</namespace>
        <class>org.exist.xquery.ocr.ocular.OcularOCRModule</class>
    </java>
</package>
