<?xml version="1.0" encoding="utf-8"?>
<package xmlns="http://expath.org/ns/pkg" name="http://exist-db.org/apps/ocular-ocr" abbrev="ocular-ocr" version="@project.version@" spec="1.0">
    <title>Ocular OCR for eXist-db</title>
    <dependency package="http://exist-db.org/apps/shared"/>
    <dependency processor="http://exist-db.org" semver-min="3.0.1"/>
</package>
